.container {
  text-align: center;
}

.textForm {
  padding: 3vmin;
  text-align: center;
}

.resultsContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: left;
}

.titles {
  margin-top: 0;
}

.resultsContainer div:nth-child(4n + 1),
.resultsContainer div:nth-child(4n + 2) {
  background-color: rgba(223, 223, 223, 0.89);
}

.resultsContainer div:nth-child(4n + 3),
.resultsContainer div:nth-child(4n + 4) {
  background-color: hsla(0, 0%, 100%, 0.959);
}
